.container {
  display: flex;
  /* justify-content: start; */
  height: 100vh;
  /* width: 100vw; */
  z-index: 1;
  position: absolute;
  margin-bottom: auto;
}

.circle-one {
  min-height: 700px;
  min-width: 700px;
  background-color: #44D3AC;
  clip-path: circle(50% at 11% 78%);
  animation: 1s ease circleOneAnimation;
}

.circle-two {
  height: 250px;
  width: 250px;
  background-color: #44D3AC;
  border-radius: 50%;
  animation: 1s ease circleTwoAnimation
}

/* .circle-three {
  justify-self: end;
  height: 390px;
  width: 390px;
  background-color: #44D3AC;
  clip-path: circle(46.1% at 86% 51%);
  transform: translateY(50vh);
  animation: 1s ease circleThreeAnimation;
} */

@keyframes circleOneAnimation {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0vh);
  }
}

@keyframes circleTwoAnimation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0vh);
  }
}

@keyframes circleThreeAnimation {
  0% {
    transform: translate(100%, 50vh);
  }

  100% {
    transform: translate(0%, 50vh);
  }
}

@media screen and (max-width: 890px) {
  .container {
    display: none;
  }
}


