.container {
  display: flex;
  margin-top: 7rem;
  justify-content: space-around;
  position: relative;
  width: 100%;
  z-index: 2;
}

.col-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.name {
  font-size: 80px;
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.subtitle {
  font-size: 30px;
  text-align: left;
  font-weight: 70;
  margin: 0;
}

.line {
  border: white 0.7px solid;
  width: 450px;
  margin-left: 0;
  margin-top: 1.3rem;
  margin-right: 1.5rem;
}

.buttons {
  margin-top: 0.8rem;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.github-button, .linkedin-button, .email-button {
  padding: 0;
  border-radius: 7px;
}

.github-button {
  background-color: white;
  border: white;
  margin-right: 1.3rem;
  width: 145px;
  color: black;
}

.linkedin-button {
  background-color: #0274b3;
  border: #0274b3;
  color: white;
  margin-right: 1.3rem;
  width: 105px;
}

.email-button {
  background-color: #CCB764;
  border: #CCB764;
  width: 93px;
  color: black;
}

.buttons button {
  margin-top: 0.5rem;
  height: 39px;
}

.buttons button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.col-two {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 360px;
}

.headshot {
  border-radius: 30px;
}

@media screen and (max-width: 890px) {
  .container {
    flex-direction: column-reverse;
    margin-top: 3rem;
    align-items: center;
  }

  .col-one {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .name {
    font-size: 50px;
  }

  .subtitle {
    font-size: 20px;
  }

  .line {
    width: 70%;
    margin: 0;
    margin-top: 1.3rem;
  }

  .col-two {
    width: 270px;
    height: 270px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons button {
    margin-right: 0;
    width: 200px;
    margin-top: 1rem;
  }

  .buttons span {
    display: none;
  }
}