.container {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  z-index: 2;
}

.col-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.name {
  font-size: 80px;
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.subtitle {
  font-size: 30px;
  text-align: left;
  font-weight: 70;
  margin: 0;
}

.line {
  border: white 0.7px solid;
  width: 450px;
  margin-left: 0;
  margin-top: 1.3rem;
  margin-right: 1.5rem;
}

.buttons {
  margin-top: 0.8rem;
}

.buttons Button {
  margin-top: 0.5rem;
  height: 39px;
}

.buttons Button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.col-two {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 360px;
}

.headshot {
  border-radius: 30px;
}

@media screen and (max-width: 890px) {
  .container {
    flex-direction: column-reverse;
    margin-top: 3rem;
    margin-bottom: 0;
    align-items: center;
  }

  .col-one {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .name {
    font-size: 50px;
  }

  .subtitle {
    font-size: 20px;
  }

  .line {
    width: 70%;
    margin: 0;
    margin-top: 1.3rem;
  }

  .col-two {
    width: 270px;
    height: 270px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons button {
    margin-right: 0;
    width: 200px;
    margin-top: 1rem;
  }

  .buttons span {
    display: none;
  }
}

@media screen and (min-width: 891px) {
  .name, .subtitle, .buttons {
    white-space: nowrap;
    overflow: hidden;
    animation: text_animation 0.7s linear 0.7s;
    animation-fill-mode: both;
  }

  .line {
    animation: line_animation 0.7s linear;
  }

  .headshot {
    animation: image_animation 0.7s linear 1.4s;
    animation-fill-mode: both;
  }
}
@keyframes line_animation {
  from {
    left: 50%;
    width: 0;
  }
  to {
    left: 0%;
    width: 450px;
  }
}

@keyframes text_animation {
  from {
    width: 0;
    opacity: 1;
  } 
  to {
    width: 390px;
    opacity: 1;
  }
}

@keyframes image_animation {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}