.logo:hover {
  filter: invert(35%) sepia(68%) saturate(380%) hue-rotate(107deg) brightness(88%) contrast(91%);
  transition: 0.3s;
}

.navbar, .collapseNavbar {
  margin: 0.2rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.menu {
  padding: 0;
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu li:not(:last-child)::after {
  content: "";
  border: 1px solid #e2e2e2;
  border-width: 1px 1px 0 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.collapsemenu li:hover, .menu li:hover {
  color: #44D3AC;
  transition: 0.3s;
}

.toggle-icon {
  display: none;
  width: 1.7rem;
  height: 1.7rem;
}

@media screen and (max-width: 600px) {
  .menu li {
    display: none;
  }

  .toggle-icon {
    display: inline;
  }

  .collapseNavbar {
    margin-bottom: 8rem;
  }

  .collapsemenu {
    margin-top: 4.5rem;
    position: absolute;
    top: 0;
    padding: 0;
  }

  .collapsemenu li {
    list-style: none;
    margin-top: 0.5rem;
  }

  .clicked-first-line {
    transform: rotate(45deg);
    transition: 1s;
  }

  .clicked-second-line {
    transform: rotate(-45deg) translateX(7px) translateY(-7px);
    transition: 1s;
  }

  .first-line, .second-line {
    transform: rotate(0deg);
    transition: 1s;
  }
}

@media screen and (min-width: 601px) {
  .collapsemenu {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .collapsemenu li {
    list-style: none;
  }

  .collapsemenu li:not(:last-child)::after {
    content: "";
    border: 1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
