.container {
  display: flex;
  justify-content: center;
}

.header {
  display: none;
}

@media screen and (max-width: 600px) {
  .container {
    justify-content: flex-end;
  }
  .header {
    display: block;
    text-align: center;
  }
}