.col {
  width: 50%;
  float: left;
  height: 100%;
}

.name {
  font-size: 80px;
  text-align: left;
  font-weight: 600;
  margin-top: 120px;
  margin-bottom: 0;
  margin-left: 6.2rem;
}

.subtitle {
  font-size: 30px;
  text-align: left;
  font-weight: 70;
  margin: 0;
  margin-left: 6.2rem;
}

.line {
  width: 65%;
  margin-top: 2rem;
  margin-left: 6.2rem;
}

.buttons {
  margin-left: 6.2rem;
  margin-top: 2rem;
}

.image-wrapper {
  margin-top: 3px;
  margin-left: 0.8rem;
  float: left;
}

.github-button {
  padding: 0;
  border-radius: 7px;
  background-color: white;
  border: white;
  margin-right: 1.3rem;
}

.github-text {
  margin-top: 3px;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  float: right;
}

.linkedin-button {
  padding: 0;
  border-radius: 7px;
  background-color: #0274b3;
  border: #0274b3;
  color: white;
  margin-right: 1.3rem;
}

.linkedin-text {
  margin-top: 3px;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  float: right;
}

.email-button {
  padding: 0;
  border-radius: 7px;
  background-color: #CCB764;
  border: #CCB764;
}

.email-text {
  margin-top: 3px;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  float: right;
}

.buttons button {
  margin-top: 0.5rem;
}

.buttons button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    height: 100%;
  }

  .name {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin: 0;
  }
  
  .subtitle {
    font-size: 25px;
    text-align: center;
    font-weight: 70;
    margin: 0;
  }
  
  .line {
    width: 93%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  
  .buttons {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }
}

.square {
  position: absolute;
  top: 5px;
  width: 100%;
  background: white;
  border-radius: 30px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.blocks {
  width: 50%;
  margin: 0 auto;
  position: relative;
  margin-top: 7.4rem;
}

.headshot {
  border-radius: 30px;
}

.headshot-wrapper {
  margin-left: -5px;
  margin-right: 5px;
}
