.row {
  width: 50%;
  float: left;
  border: 2px solid white;
  height: 100%;
}

.name {
  font-size: 80px;
  text-align: left;
  font-weight: 600;
  margin-top: 120px;
  margin-bottom: 0;
  margin-left: 6.2rem;
}

.subtitle {
  font-size: 30px;
  text-align: left;
  font-weight: 70;
  margin: 0;
  margin-left: 6.2rem;
}

.line {
  width: 65%;
  margin-top: 2rem;
  margin-left: 6.2rem;
}